.Rproj.user
.Rhistory
.RData
.Ruserdata
._.Rhistory
Objects
Data
!Data/Mimemo_gears.csv
!Data/Mimemo fish guilds.csv
._my_plot.png
._fish.Rproj
._Mollusc_dredge.R
._Effort_landings.R
._Effort.RData
._EU_Arctic_effort.RData
._Dredge_fishing.R
._EU_landings.RData
._.RData
